openapi: 3.1.0
info:
  title: Kateeva Taxonomy API
  version: wp/v2
  description: 'Public, unauthenticated read access to the classification vocabularies behind the kateeva.com newsroom:
    the eight post categories (Press releases 53, In the news 71, Kateeva Blog 19, Spotlight on People 10, Spotlight
    on Technology 11, Spotlight on Business 5, Events 3, Uncategorized 1) and the 26 post tags that cross-cut them.'
  contact:
    name: Kateeva
    url: https://kateeva.com/contact/
  x-derived-from: https://kateeva.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-23'
  x-api-evangelist-note: Third-party profile. Kateeva is an OLED display manufacturing equipment maker and publishes
    no developer program; this documents the anonymously readable WordPress REST content API behind kateeva.com.
    Every path, parameter and schema here was read from the server's own published route index and OPTIONS documents
    on 2026-08-23 — nothing is invented.
servers:
- url: https://kateeva.com/wp-json
  description: Kateeva WordPress REST API
tags:
- name: Taxonomy
  description: Newsroom categories and tags.
paths:
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      tags:
      - Taxonomy
      description: Retrieve a paginated collection of published Kateeva categories (8 at capture).
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        schema:
          type: integer
          default: null
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      - name: wpml_language
        in: query
        schema:
          type: string
          enum:
          - en
          - ko
        description: WPML's language code
      responses:
        '200':
          description: List categories
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or insufficient permission — rest_forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/categories/{id}:
    get:
      operationId: getCategory
      summary: Get category
      tags:
      - Taxonomy
      description: Retrieve a single Kateeva category by its numeric WordPress ID.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the category.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: wpml_language
        in: query
        schema:
          type: string
          enum:
          - en
          - ko
        description: WPML's language code
      responses:
        '200':
          description: A single category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No category exists with that ID — rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/tags:
    get:
      operationId: listTags
      summary: List tags
      tags:
      - Taxonomy
      description: Retrieve a paginated collection of published Kateeva tags (26 at capture).
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        schema:
          type: integer
          default: null
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      - name: wpml_language
        in: query
        schema:
          type: string
          enum:
          - en
          - ko
        description: WPML's language code
      responses:
        '200':
          description: List tags
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or insufficient permission — rest_forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/tags/{id}:
    get:
      operationId: getTag
      summary: Get tag
      tags:
      - Taxonomy
      description: Retrieve a single Kateeva tag by its numeric WordPress ID.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the tag.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: wpml_language
        in: query
        schema:
          type: string
          enum:
          - en
          - ko
        description: WPML's language code
      responses:
        '200':
          description: A single tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No tag exists with that ID — rest_post_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Category:
      type: object
      title: category
      properties:
        id:
          type: integer
          description: Unique identifier for the term.
          readOnly: true
        count:
          type: integer
          description: Number of published posts for the term.
          readOnly: true
        description:
          type: string
          description: HTML description of the term.
        link:
          type: string
          format: uri
          description: URL of the term.
          readOnly: true
        name:
          type: string
          description: HTML title for the term.
        slug:
          type: string
          description: An alphanumeric identifier for the term unique to its type.
        taxonomy:
          type: string
          enum:
          - category
          description: Type attribution for the term.
          readOnly: true
        parent:
          type: integer
          description: The parent term ID.
        meta:
          type: object
          description: Meta fields.
        acf:
          type: object
          description: ACF field data
    Error:
      type: object
      description: The WordPress REST API error envelope returned on every 4xx/5xx.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param only).
      required:
      - code
      - message
    Tag:
      type: object
      title: tag
      properties:
        id:
          type: integer
          description: Unique identifier for the term.
          readOnly: true
        count:
          type: integer
          description: Number of published posts for the term.
          readOnly: true
        description:
          type: string
          description: HTML description of the term.
        link:
          type: string
          format: uri
          description: URL of the term.
          readOnly: true
        name:
          type: string
          description: HTML title for the term.
        slug:
          type: string
          description: An alphanumeric identifier for the term unique to its type.
        taxonomy:
          type: string
          enum:
          - post_tag
          description: Type attribution for the term.
          readOnly: true
        meta:
          type: object
          description: Meta fields.
